.totalResult{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
}

.totalResult p{
    font-size:14px;
}

.products_page{
    padding: 30px 15px;
}


.products_page .left_col{
    max-width: 300px;
    flex:0 0 300px;
}

.products_page .left_col .title{
    font-size:15px
}

.products_page .allCategoriesLists{
    margin-top:5px;
}

.products_page .allCategoriesLists li{
    font-size:14px;
    margin-bottom: 4px;
}

.products_page .right_col{
    max-width: calc(100% - 300px);
    flex:0 0 calc(100% - 300px);
}

.products_page .right_col .title{
    margin-bottom: 10px;
}

.single_col{
    max-width:20%;
    flex:0 0 20%;
    padding: 0 5px;
}

.single_col .singleProduct{
    border: 1px solid #f5f5f5;
    height: 100%;
}

.singleProduct .thumbnail{
    height: 250px;
    background: rgba(0 0 0 / 3%);
    padding: 5px;
    text-align: center;
}

.singleProduct .thumbnail img{
    height:100%;
    object-fit: contain;
}

.singleProduct .contents{
    padding:10px;
}

.singleProduct .contents .name{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 22px;
}
.singleProduct .contents .tag{
    background:#b12704;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    margin-top: 8px;
    display: inline-block;
}

.singleProduct .contents .price{
    margin-top: 5px;
    font-size: 14px;
    /* color: #565959; */
}

.singleProduct .contents .price .currentPrice{
    font-size: 24px;
    margin-right: 5px;
    margin-left: 2px;
}

.singleProduct .contents .price .discount{
    margin-left: 10px;
    font-size:15px;
}

.singleProduct .contents .deliveryStatus{
    font-size:14px;
    margin-top:10px;
}