.menus{position:fixed; top:0; left:0; background:#fff; z-index: 999; width: 365px;}
.menus .user_top{display: flex; align-items: center; padding: 12px 20px 12px 40px; background:var(--dark_blue); color:#fff;}
.menus .user_top .user{width:24px; margin-right:10px; filter: invert(1);}