.modal-box{
    position:absolute;
    top:50%;
    left:50%;
    background:#fff;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 1px solid;
    border-color: #D5D9D9;
    box-shadow: 0 0 14px 0 rgba(15,17,17,.5);
    outline:none;
}

.modal-header{
    border-bottom: 1px solid #D5D9D9;
    background-color: #F0F2F2;
    border-radius: 8px 8px 0 0;
    padding: 0 24px;
}

.modal-header .title{
    padding: 16px 0;
    line-height: 24px;
    font-size: 16px;
}

.modal-body{
    padding: 16px 24px;
}