.language_menu{height: 40px; display: flex; align-items: center;}
.language_menu .main{display: flex; align-items: center; text-transform: uppercase; font-weight: 600; font-size: 14px;}
.language_menu .main .flag{margin-right:5px; width: 20px;}
.language_menu .dropdown_items{width: 200px; }
.language_menu .dropdown_items li{padding:5px 0; font-size:14px;position:relative; padding-left:24px; cursor: pointer;}
.language_menu .dropdown_items li:before{position:absolute; content:''; height:15px; width:15px; border:1px solid #8d8d8d; border-radius: 50%; left:0;}
.language_menu .dropdown_items li:after{position:absolute; content:''; height:7px; width:7px; border-radius: 50%; left:5px; background-color: var(--orange); top: 10px; opacity:0;}
.language_menu .dropdown_items li:hover,
.language_menu .dropdown_items li.active{color:var(--orange); text-decoration: underline;}
.language_menu .dropdown_items li:hover:after,
.language_menu .dropdown_items li.active:after{opacity:1;}
.language_menu .dropdown_items li.active{cursor: default; text-decoration: none;}
/* .location_dropdown:before{position:absolute; content:''; border-bottom: 8px solid #fff; border-left: 8px solid transparent; border-right: 8px solid transparent; top: -8px; left: 44px;} */