*{margin:0; padding:0; box-sizing: border-box;}
:root{
    /* --btnColor:#FFD814; */
    --secondary:#febd69;
    --orange:#ff9900;
    --a-color:#007185;
    --a-color-price:#B12704;
    --a-text-color:#444;
    --dark_blue:#232f3e;
}

body{box-sizing: border-box;}
a{text-decoration: none; color:var(--a-text-color)}
li{list-style-type: none;}
.btn{outline:none; border:none; border-radius: 8px; box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);}
.btn_fill{background:var(--btnColor)}
.no-fieldset fieldset{border:none;}
.dropdown_menu{position:relative;}
.dropdown_menu .main{cursor: pointer; position:relative; padding-right:12px;}
.dropdown_menu .main:before{ position: absolute; content: ''; width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid #b9b9b9; right: 0; bottom: 5px;}
.dropdown_menu .dropdown_items{position:absolute; top:40px; padding-top:30px; background:#fff; color:#000; list-style-type: none; padding: 15px; border-radius: 5px; opacity:0; visibility: hidden;}
.dropdown_menu .dropdown_items.active{opacity:1; visibility: visible;}
.dropdown_items:before{position:absolute; content:''; border-bottom: 8px solid #fff; border-left: 8px solid transparent; border-right: 8px solid transparent; top: -8px; left: 44px;}
.backdrop{position: fixed; top: 0; left: 0; height: 100vh; width: 100%; background: rgba(0 0 0 / 50%); z-index: 99; opacity:0; visibility: hidden;}
.backdrop.show{opacity: 1; visibility: visible;}

.a-base-size{font-size:14px; line-height:20px;}

/* navbar */




/* location modal */
.location_modal .modal-body p{font-size:13px; line-height:20px;}
.location_modal .modal-body .btn{width:100%; margin-top:10px;}
.location_modal .modal-body .btn{height:29px;}